/* Created by Titus Castillon UCID 30156837 */

/* SCSS Variables */
$primary-color: #f2dbc5; // light cream

$secondary-color: #588157; // green

$tertiary-color: #bd9c7a; // brown

$primary-font: "Times New Roman", sans serif;

body {
    background-color: $primary-color;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $secondary-color;
    font-family: $primary-font;
    color: white;

    .header-title {
        margin: 0;
        text-align: center;
        padding: 20px;
        font-size: 40px;
    }
}

main {
    margin-top: 100px;
    padding: 10px;
    font-family: $primary-font;
    text-align: center;
    color: white;

    .main-title {
        font-size: 35px;
    }

    .main-header {
        font-size: 25px;
    }
}

.center-wrap {
    min-height: 50vh;
    display: flex;
    align-items: center; // Vertical centering
    justify-content: center; // Horizontal centering
    padding: 10px;
    overflow-x: auto;
}

.box {
    width: clamp(420px, 33.33vw, 1500px);
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: $tertiary-color;
}

.input-wrapper {
    margin-bottom: 15px;
}

.input-wrapper input {
    width: 80%;
    padding: 12px 14px;
    font-size: 20px;
    font-family: $primary-font;
}

.input-wrapper input:focus {
    border-color: $primary-color;
    font-family: $primary-font;
    box-shadow: 3px dimgray; // “glow ring”
}

.button-wrapper {
    @extend .input-wrapper;
    margin-top: 15px;
    display: flex;
    justify-content: center; // Horizontal centering
    gap: 20px;
    margin-top: 20px;
}

.button-style {
    width: 200px;
    height: 45px;
    background-color: $secondary-color;
    font-family: $primary-font;
    font-size: 20px;
    border: 2px solid $secondary-color;
    border-radius: 8px;
    text-align: center;
    color: white;
    transition: height 0.3s ease, background-color 0.3s ease;
}

    .button-style:hover {
        background-color: #7ea77d;
        color: white;
        border: 2px solid #7ea77d;
        cursor: pointer;
        font-size: 20px;
    }

.flash-wrapper {
    display: flex;
    justify-content: center; // Horizontal centering
}

.flash-message {
    padding: 15px;
    background-color: white;
    border: 2px solid white;
    border-radius: 8px;
    color: black;
}

.center-wrap {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow-x: auto;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.result-card {
    border: 2px solid white;
    border-radius: 8px;
    background-color: $primary-color;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.result-text {
    background-color: $tertiary-color;
    border-radius: 6px;
    padding: 10px 12px;
    flex: 1;
}

.result-text p {
    margin: 0;
    color: white;
    font-size:15px
}